@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 36% 95%;
    --foreground: 204 5% 10%;
    --card: 204 36% 90%;
    --card-foreground: 204 5% 15%;
    --popover: 204 36% 95%;
    --popover-foreground: 204 95% 10%;
    --primary: 204 100% 87%;
    --primary-foreground: 0 0% 0%;
    --secondary: 204 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 166 30% 85%;
    --muted-foreground: 204 5% 35%;
    --accent: 166 30% 80%;
    --accent-foreground: 204 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 204 5% 90%;
    --border: 204 30% 50%;
    --input: 204 30% 28%;
    --ring: 204 100% 87%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 204 36% 10%;
    --foreground: 204 5% 90%;
    --card: 204 36% 10%;
    --card-foreground: 204 5% 90%;
    --popover: 204 36% 5%;
    --popover-foreground: 204 5% 90%;
    --primary: 204 100% 87%;
    --primary-foreground: 0 0% 0%;
    --secondary: 204 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 166 30% 25%;
    --muted-foreground: 204 5% 60%;
    --accent: 166 30% 25%;
    --accent-foreground: 204 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 204 5% 90%;
    --border: 204 30% 28%;
    --input: 204 30% 28%;
    --ring: 204 100% 87%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply antialiased bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
